@import "tailwindcss";
@import "react-date-range/dist/styles.css";
@import "react-date-range/dist/theme/default.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
  @apply text-gray-700 hover:text-red-500 transition-colors;
}

/* Force react-date-range calendar to be scrollable on mobile */
/* .rdrCalendarWrapper {
  max-height: 27vh;
  overflow-y: auto;
} */
@media (max-height: 800px) {
  .rdrCalendarWrapper {
    max-height: auto;
    overflow-y: auto;
  }
}

@media (min-height: 900px) {
  .rdrCalendarWrapper {
    max-height: 27vh;
    overflow-y: auto;
  }
}

